*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    flex-direction: column;
    transition: .5s;
}

h1{
    color: white;
}

.trilho{
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 150px;
    position: relative;
    
    cursor: pointer;
    margin: 15px;
}

.trilho .changer{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark .changer{
    left: 198px;
    background-color: beige;
}
.trilho.dark{
 background-color: #212121;
}

body.dark{
    background-color: white;
}
body.dark h1{
    color: black;
}