table{
    border-collapse: collapse;
    margin: auto;
}

th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

h1,h2,h3,h4,h5{
    font-size: large;
}

img{
    display: block; margin: 0 auto; max-width: 100%
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
}
th{
   
    background-color: #4a6969;
}
td{
    background-color: #D6EEEE;
}